/* Minecraft font for text effect previews */
@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft-Seven_v2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Make navbar logo link open in new tab */
nav a[href="https://oraxen.com"]
{
  color: inherit;
  text-decoration: none;
}

nav a[href="https://oraxen.com"]:hover
{
  opacity: 0.8;
}
